// Typography
$font: 'Noto Sans', sans-serif
$mainTitle: 2.5em

// Color
$bodyBg: linear-gradient(to bottom, #304352, #616161)
$cardboardBg: linear-gradient(to left, #f46b45, #eea849)
$cardCloseBg: #00bfa5
$cardOpenBg: #0091ea
$cardCorrectBg: #00c853
$cardErrorBg: #d50000
$mainColor: #fff
$modalBg: #009688
$modalBtn: #03a9f4
$modalBtnHover: #81d4fa

// Layout
$gutterWidth: 10px
