// Typography
$font: 'Noto Sans', sans-serif
$mainTitle: 2.5em

// Color
$bodyBg: #616161
$cardboardBg: linear-gradient(140deg, rgba(255, 143, 0, 1) 20%, rgba(254, 142, 0, 1) 20%, rgba(211, 47, 47, 1) 80%)
$cardCloseBg: #00bfa5
$cardOpenBg: #0091ea
$cardCorrectBg: #00c853
$cardErrorBg: #d50000
$mainColor: #fff

// Layout
$gutterWidth: 10px
