.card-board
  display: grid
  grid-gap: $gutterWidth
  grid-template-columns: repeat(4, 1fr)
  background: $cardboardBg
  padding: 2em
  border-radius: 10px
.card
  background: $cardCloseBg
  color: $mainColor
  height: 80px
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  border-radius: 7px
  font-size: 2em
  cursor: pointer
  transition: all 400ms ease-in-out
  margin: 0 auto
  &:hover
    transform: translateY(-2px)
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)

  svg
    opacity: 0
    transition: opacity 400ms ease-in-out

.card-open
  animation: openCard 400ms ease-in-out
  background: $cardOpenBg

.card-close
  animation: closeCard 400ms ease-in-out

.card-show
  svg
    opacity: 1

.disabled
  pointer-events: none

.matched
  background: $cardCorrectBg

.unmatched
  background: $cardErrorBg
  animation: uncorrect 1s ease-in-out

.correct
  animation: correct 1s ease-in-out

@keyframes openCard
  0%
    transform: none
  100%
    transform: rotateY(360deg)

@keyframes closeCard
  0%
    transform: none
  100%
    transform: rotateY(-360deg)

@keyframes correct
  20%, 60%, 90%
    transform: scale(1.2)
  40%, 80%, 100%
    transform: scale(1)


@keyframes uncorrect
  10%, 90%
    transform: translate3d(-1px, 0, 0)
  20%, 80%
    transform: translate3d(2px, 0, 0)
  30%, 50%, 70%
    transform: translate3d(-4px, 0, 0)
  40%, 60%
    transform: translate3d(4px, 0, 0)


@media screen and (min-width: 34em)
  .card
    height: 125px
    font-size: 3em
