.card-board
  display: grid
  grid-gap: $gutterWidth
  grid-template-columns: repeat(2, 1fr)
  background: $cardboardBg
  padding: 2em
  border-radius: 10px

  .card
    background: green
    color: $mainColor
    height: 125px
    width: 125px
    display: flex
    justify-content: center
    align-items: center
    border-radius: 7px
    font-size: 3em
