html,
body
  font-family: $font
  background: $bodyBg
  color: $mainColor

.container
  padding: 0 $gutterWidth
  text-align: center
  margin: auto

  .main-title
    font-size: $mainTitle
    letter-spacing: 1.2px

@media screen and (min-width: 800px)
  .container
    width: 700px
